<template name="appointments_panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Appointments coming up...
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <form id="quickadd_appointment" role="form">
                <div class="list-group input-group">
                    <span class="input-group-btn appointment-datepicker datepicker">
                        <button type="button" class="btn btn-default btn-calendar"><i class="fa fa-calendar"></i></button>
                        <input class="datepickerinput" type="hidden" />
                    </span>
                    {{> inputAutocomplete settings=autocompleteSettings id="client_name" name="client_name" class="form-control half-width" placeholder="client name"}}
                    <input class="form-control half-width" type="text" id="notes" name="notes" placeholder="notes..." />
                    <span class="input-group-btn"><button class="btn btn-default btn-save" type="submit"><i class="fa fa-save"></i></button></span>
                </div>
            </form>
            <div class="list-group">
                {{#each appointments}}
                    <a class="list-group-item" href="/clients/view/{{client._id}}">
                        <strong>{{client.name}}</strong>
                        <span class="pull-right text-muted small">
                            <p class="text-right">
                                {{formatDate appointmentDate 'll @ h:mm a'}}
                                {{#if notme this}}
                                    <br /><em>rep: {{salesperson.name}}</em>
                                {{/if}}
                            </p>
                        </span><br />
                        {{notes}}
                    </a>
                {{/each}}
            </div>
            <!-- /.list-group -->
            <a href="/appointments" class="btn btn-default btn-block">View All Appointments</a>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</template>