<template name="appointments_box">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{appointmentsToday}}</div>
                        <div>Appointments today</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>