<template name="callbacks_box">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-up fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{todaysCallbacks}}</div>
                        <div>Callbacks today</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>